body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
    margin-top: 50;
    border: 5px solid black;
    box-shadow: 5px 5px 5px white ;
}

body{
    background-image: linear-gradient(to right top,  #b1b1b1, #6d6d6d, #363636, #000000);
    }
    